In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip install tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.9.2)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.50.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: flatbuffers<2,>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.12)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.1.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (4.1.1)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.3.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.27.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow) (21.3)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (14.0.6)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: tensorboard<2.10,>=2.9 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.9.1)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.6)
Requirement already satisfied: keras<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.9.0)
Requirement already satisfied: tensorflow-estimator<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.9.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.19.6)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.38.3)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (3.4.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.23.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.14.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.6.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (3.10.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow) (3.0.9)

In [4]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=6103570bff4ddecc1477e6497e503c141fb84009061b51868ae596809ae5f42a
  Stored in directory: /root/.cache/pip/wheels/42/56/cc/4a8bf86613aafd5b7f1b310477667c1fca5c51c3ae4124a003
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [5]:
!pip install missingno

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingno in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from missingno) (1.7.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from missingno) (0.11.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from missingno) (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from missingno) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->missingno) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->missingno) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->missingno) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->missingno) (1.15.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn->missingno) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn->missingno) (2022.6)

# 1. 데이터 로드 및 확인

In [2]:
# import libraries
import warnings
warnings.simplefilter('ignore')

%matplotlib inline
import os
import numpy as np
import pandas as pd
import math, random
import matplotlib.pyplot as plt
plt.style.use('ggplot')
# import seaborn as sns
# sns.set_style('whitegrid')
from scipy import stats
import missingno as msno

# display all columns
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_row', None)

ModuleNotFoundError: No module named 'missingno'

In [3]:
# load data
path = '/Users/jsha/gjai/final_project/black_swan_physionet/'
train_data = pd.read_csv(path + 'physionet2012_train.csv')
valid_data = pd.read_csv(path + 'physionet2012_valid.csv')
test_data = pd.read_csv(path + 'physionet2012_test.csv')

train_data.drop(['Unnamed: 0'], axis=1, inplace=True)
valid_data.drop(['Unnamed: 0'], axis=1, inplace=True)
test_data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242613 entries, 0 to 242612
Data columns (total 45 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   pid          242613 non-null  int64
 1   rec_time     242613 non-null  object
 2   age          242613 non-null  float64
 3   Gender       242613 non-null  float64
 4   ICUType      242613 non-null  float64
 5   ALP          2480 non-null    float64
 6   ALT          2549 non-null    float64
 7   AST          2552 non-null    float64
 8   Albumin      1892 non-null    float64
 9   BUN          11220 non-null   float64
 10  Bilirubin    2551 non-null    float64
 11  Cholesterol  273 non-null     float64
 12  Creatinine   11274 non-null   float64
 13  FiO2         26127 non-null   float64
 14  GCS          49959 non-null   float64
 15  Glucose      10513 non-null   float64
 16  HCO3         10972 non-null   float64
 17  HCT          14762 non-null   float64
 18  HR           242613 non-null  float64
 19  K            11633 non-null   float64
 20  Lactate      6477 non-null    float64
 21  Mg           10988 non-null   float64
 22  Na           10928 non-null   float64
 23  PaCO2        18805 non-null   float64
 24  PaO2         18781 non-null   float64
 25  Platelets    11380 non-null   float64
 26  RR           242613 non-null  float64
 27  SPO2         242613 non-null  float64
 28  BT           242613 non-null  float64
 29  Tropl        0 non-null       float64
 30  TroponinI    371 non-null     float64
 31  TropT        0 non-null       float64
 32  TroponinT    1735 non-null    float64
 33  Urine        109878 non-null  float64
 34  WBC          10410 non-null   float64
 35  pH           19676 non-null   float64
 36  MechVent     25119 non-null   float64
 37  survival     242613 non-null  int64
 38  SBP          242613 non-null  float64
 39  DBP          242613 non-null  float64
 40  MBP          242613 non-null  float64
 41  male         242613 non-null  int64
 42  female       242613 non-null  int64
 43  surv_los     242613 non-null  int64
 44  LOS          242613 non-null  int64
dtypes: float64(38), int64(6), object(1)
memory usage: 83.3+ MB

In [5]:
# labeling
# train_data
train_data['label'] = 0
train_data.loc[(2 <= train_data['survival'])&(train_data['survival'] <= train_data['LOS']), 'label'] = 1
train_data.loc[train_data['survival'] > train_data['LOS'], 'label'] = 0
train_data.loc[train_data['survival'] == -1, 'label'] = 0

# valid_data
valid_data['label'] = 0
valid_data.loc[(2 <= valid_data['survival'])&(valid_data['survival'] <= valid_data['LOS']), 'label'] = 1
valid_data.loc[valid_data['survival'] > valid_data['LOS'], 'label'] = 0
valid_data.loc[valid_data['survival'] == -1, 'label'] = 0

# test_data
test_data['label'] = 0
test_data.loc[(2 <= test_data['survival'])&(test_data['survival'] <= test_data['LOS']), 'label'] = 1
test_data.loc[test_data['survival'] > test_data['LOS'], 'label'] = 0
test_data.loc[test_data['survival'] == -1, 'label'] = 0

In [6]:
train_df = train_data.copy()
valid_df = valid_data.copy()
test_df = test_data.copy()

# 2. 결측값 처리

> **df.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)**
* value : 결측값을 대체할 값입니다. dict형태로도 가능합니다.
* method : 결측값을 변경할 방식입니다. bfill로 할경우 결측값을 바로 아래 값과 동일하게 변경합니다.
ffill로 할 경우 결측값을 바로 위 값과 동일하게 변경합니다.
* axis : {0 : index / 1 : columns} fillna 메서드를 적용할 레이블입니다.
* inplace : 원본을 변경할지 여부입니다. True일 경우 원본을 변경하게 됩니다.
* limit : 결측값을 변경할 횟수입니다. 위에서부터 limit로 지정된 갯수만큼만 변경합니다.
* downcast : 다운캐스트할지 여부입니다. downcast='infer'일 경우 float64를 int64로 변경합니다.

In [7]:
# ffill
train_df.groupby(['pid']).fillna(method='ffill', inplace=True)
valid_df.groupby(['pid']).fillna(method='ffill', inplace=True)
test_df.groupby(['pid']).fillna(method='ffill', inplace=True)

Empty DataFrame
Columns: []
Index: []

In [8]:
# median
train_df.fillna(train_df.median(), inplace=True)
valid_df.fillna(valid_df.median(), inplace=True)
test_df.fillna(test_df.median(), inplace=True)

# 3. 데이터 확인

In [9]:
train_df.describe()

,pid,age,Gender,ICUType,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,Creatinine,FiO2,GCS,Glucose,HCO3,HCT,HR,K,Lactate,Mg,Na,PaCO2,PaO2,Platelets,RR,SPO2,BT,Tropl,TroponinI,TropT,TroponinT,Urine,WBC,pH,MechVent,survival,SBP,DBP,MBP,male,female,surv_los,LOS,label
count,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,242613.000000,0.0,242613.000000,0.0,242613.000000,242613.000000,242613.000000,242613.000000,242613.0,242613.000000,242613.000000,242613.000000,242613.000000,242613.0,242613.0,242613.000000,242613.000000,242613.000000
mean,137598.163227,64.660979,0.567748,2.721355,82.363727,46.252200,67.431234,2.900154,20.333844,0.920969,154.004942,1.023582,0.504850,12.674613,127.632637,23.004035,30.325126,87.772782,4.101816,2.121667,2.001087,139.001224,39.113103,124.225732,173.877780,19.154167,96.883451,36.977602,NaN,2.907237,NaN,0.227553,92.485370,11.549491,7.389980,1.0,127.016673,116.577113,58.631030,79.120566,1.0,0.0,112.964009,14.052664,0.140553
std,2895.568188,17.069362,0.497176,1.003291,14.178149,112.848326,159.476285,0.057804,5.217707,0.636930,1.526859,0.375091,0.063831,1.906861,14.596424,1.008024,1.249393,18.031186,0.155843,0.433795,0.086192,1.083102,2.547023,26.050993,23.496668,2.419724,2.256985,1.490571,NaN,0.443048,NaN,0.254353,124.691656,1.506942,2.593948,0.0,361.568613,22.507286,12.065476,15.948036,0.0,0.0,361.025804,12.713974,0.347561
min,132540.000000,15.000000,-1.000000,1.000000,12.000000,1.000000,5.000000,1.000000,0.000000,0.100000,28.000000,0.100000,0.210000,3.000000,10.000000,5.000000,10.300000,0.000000,1.800000,0.300000,0.600000,98.000000,0.300000,0.000000,6.000000,10.000000,26.000000,-17.800000,NaN,0.300000,NaN,0.010000,0.000000,0.100000,1.000000,1.0,-1.000000,0.000000,0.000000,0.000000,1.0,0.0,-105.000000,-1.000000,0.000000
25%,135127.000000,53.000000,0.000000,2.000000,82.000000,43.000000,63.000000,2.900000,20.000000,0.900000,154.000000,1.000000,0.500000,13.000000,127.000000,23.000000,30.300000,76.000000,4.100000,2.100000,2.000000,139.000000,39.000000,122.000000,173.000000,19.000000,97.000000,36.500000,NaN,2.900000,NaN,0.220000,70.000000,11.500000,7.380000,1.0,-1.000000,108.000000,54.000000,73.000000,1.0,0.0,-13.000000,6.000000,0.000000
50%,137594.000000,67.000000,1.000000,3.000000,82.000000,43.000000,63.000000,2.900000,20.000000,0.900000,154.000000,1.000000,0.500000,13.000000,127.000000,23.000000,30.300000,86.000000,4.100000,2.100000,2.000000,139.000000,39.000000,122.000000,173.000000,19.000000,97.000000,37.100000,NaN,2.900000,NaN,0.220000,70.000000,11.500000,7.380000,1.0,-1.000000,116.000000,58.000000,77.000000,1.0,0.0,-7.000000,10.000000,0.000000
75%,140031.000000,78.000000,1.000000,4.000000,82.000000,43.000000,63.000000,2.900000,20.000000,0.900000,154.000000,1.000000,0.500000,13.000000,127.000000,23.000000,30.300000,98.000000,4.100000,2.100000,2.000000,139.000000,39.000000,122.000000,173.000000,19.000000,97.000000,37.600000,NaN,2.900000,NaN,0.220000,70.000000,11.500000,7.380000,1.0,15.000000,124.000000,62.000000,83.000000,1.0,0.0,-1.000000,17.000000,0.000000
max,142671.000000,90.000000,1.000000,4.000000,2205.000000,11470.000000,18430.000000,5.000000,197.000000,47.700000,330.000000,22.100000,1.000000,15.000000,1143.000000,50.000000,61.800000,300.000000,22.900000,29.300000,7.700000,177.000000,100.000000,500.000000,1047.000000,39.000000,100.000000,42.100000,NaN,49.200000,NaN,24.910000,11000.000000,187.500000,735.000000,1.0,2600.000000,295.000000,268.000000,300.000000,1.0,0.0,2547.000000,154.000000,1.000000

In [10]:
train_df['label'].value_counts()

0    208513
1     34100
Name: label, dtype: int64

In [11]:
train_df

,pid,rec_time,age,Gender,ICUType,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,Creatinine,FiO2,GCS,Glucose,HCO3,HCT,HR,K,Lactate,Mg,Na,PaCO2,PaO2,Platelets,RR,SPO2,BT,Tropl,TroponinI,TropT,TroponinT,Urine,WBC,pH,MechVent,survival,SBP,DBP,MBP,male,female,surv_los,LOS,label
0,142219,0:00:00,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,86.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,NaN,2.9,NaN,0.22,70.0,11.5,7.38,1.0,-1,116.0,58.0,77.0,1,0,-8,7,0
1,142219,0:44:00,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.8,13.0,127.0,23.0,30.3,103.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,NaN,2.9,NaN,0.22,500.0,11.5,7.38,1.0,-1,116.0,58.0,77.0,1,0,-8,7,0
2,142219,1:14:00,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,100.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,NaN,2.9,NaN,0.22,70.0,11.5,7.38,1.0,-1,0.0,0.0,224.0,1,0,-8,7,0
3,142219,1:44:00,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,106.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,NaN,2.9,NaN,0.22,70.0,11.5,7.38,1.0,-1,0.0,0.0,135.0,1,0,-8,7,0
4,142219,1:54:00,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,105.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,NaN,2.9,NaN,0.22,450.0,11.5,7.38,1.0,-1,217.0,108.0,133.0,1,0,-8,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242608,138581,"1 day, 20:36:00",53.0,1.0,4.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.4,8.0,127.0,23.0,30.3,85.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,NaN,2.9,NaN,0.22,80.0,11.5,7.38,1.0,17,114.0,65.0,84.0,1,0,-1,18,1
242609,138581,"1 day, 21:36:00",53.0,1.0,4.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,83.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,NaN,2.9,NaN,0.22,40.0,11.5,7.38,1.0,17,111.0,61.0,80.0,1,0,-1,18,1
242610,138581,"1 day, 22:36:00",53.0,1.0,4.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,83.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,NaN,2.9,NaN,0.22,45.0,11.5,7.38,1.0,17,109.0,62.0,80.0,1,0,-1,18,1
242611,138581,"1 day, 23:36:00",53.0,1.0,4.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,85.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,NaN,2.9,NaN,0.22,50.0,11.5,7.38,1.0,17,111.0,63.0,80.0,1,0,-1,18,1
242612,138581,"1 day, 23:49:00",53.0,1.0,4.0,82.0,43.0,63.0,2.9,17.0,0.9,154.0,0.8,0.5,13.0,137.0,25.0,22.6,85.0,4.1,2.1,1.7,132.0,39.0,122.0,178.0,19.0,100.0,36.9,NaN,2.9,NaN,0.22,70.0,12.1,7.38,1.0,17,111.0,63.0,80.0,1,0,-1,18,1

In [12]:
# 0:여성 1:남성
train_df['Gender'].unique()

array([ 0.,  1., -1.])

In [13]:
train_df[train_df['Gender']==-1]['pid'].unique()
# 남자...?
# 141486 -> male:1 female:0
# 137392 -> male:1 female:0
# 135757 -> male:1 female:0

array([141486, 137392, 135757])

In [14]:
# Gender -1값 1로 바꾸기
train_df.loc[train_df['Gender']==-1, 'Gender'] = 1

In [15]:
# 1:관상동맥 2:심장 3:내과 4:외과
train_df['ICUType'].unique()

array([3., 4., 2., 1.])

In [16]:
train_df.drop(columns=['rec_time', 'Tropl', 'TropT', 'male', 'female', 'survival', 'surv_los', 'LOS'], inplace=True)
valid_df.drop(columns=['rec_time', 'Tropl', 'TropT', 'male', 'female', 'survival', 'surv_los', 'LOS'], inplace=True)
test_df.drop(columns=['rec_time', 'Tropl', 'TropT', 'male', 'female', 'survival', 'surv_los', 'LOS'], inplace=True)

# 4. 데이터 시각화

In [91]:
train_df['label'].value_counts()/len(train_df.index)

0    0.859447
1    0.140553
Name: label, dtype: float64

In [95]:
train_df[train_df['label']==1]['ICUType'].value_counts()/(train_df[train_df['label']==1]['ICUType'].value_counts()+train_df[train_df['label']==0]['ICUType'].value_counts())

1.0    0.167024
2.0    0.050572
3.0    0.186448
4.0    0.159788
Name: ICUType, dtype: float64

In [92]:
# categorical data
def bar_chart(feature, ax=None):
    dead = train_df[train_df['label']==1][feature].value_counts() 
    survived = train_df[train_df['label']==0][feature].value_counts()
    df = pd.DataFrame([dead, survived])
    df.index = ['Dead', 'Survived']
    df.plot(kind='bar', stacked=True, ax=ax)

# numerical data(facets)
def draw_facetgrid(feature):
    facet = sns.FacetGrid(train_df, hue='label', aspect=5)
    facet.map(sns.kdeplot, feature, shade=True)
    facet.set(xlim=(0, train_df[feature].max()))
    facet.add_legend()
    plt.show()

In [94]:
def count_plot(column, ax):
    sns.countplot(x=column, hue='label', data=train_df, ax=ax)

# 5. 데이터 패딩

In [17]:
gr_train_df = train_df.groupby('pid')
gr_valid_df = valid_df.groupby('pid')
gr_test_df = test_df.groupby('pid')

In [18]:
gr_train_df.size()
gr_valid_df.size()
gr_test_df.size()

pid
132551    94
132567    75
132570    46
132582    66
132584    94
          ..
142561    88
142573    62
142576    90
142595    45
142641    48
Length: 400, dtype: int64

In [19]:
train_df[train_df['pid']==142219][:70]

,pid,age,Gender,ICUType,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,Creatinine,FiO2,GCS,Glucose,HCO3,HCT,HR,K,Lactate,Mg,Na,PaCO2,PaO2,Platelets,RR,SPO2,BT,TroponinI,TroponinT,Urine,WBC,pH,MechVent,SBP,DBP,MBP,label
0,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,86.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,70.0,11.5,7.38,1.0,116.0,58.0,77.0,0
1,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.8,13.0,127.0,23.0,30.3,103.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,500.0,11.5,7.38,1.0,116.0,58.0,77.0,0
2,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,100.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,70.0,11.5,7.38,1.0,0.0,0.0,224.0,0
3,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,106.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,70.0,11.5,7.38,1.0,0.0,0.0,135.0,0
4,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,105.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,450.0,11.5,7.38,1.0,217.0,108.0,133.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,70.0,4.1,2.1,2.0,139.0,43.0,85.0,173.0,19.0,97.0,37.3,2.9,0.22,70.0,11.5,7.38,1.0,91.0,47.0,64.0,0
66,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,10.0,127.0,23.0,30.3,66.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.3,2.9,0.22,20.0,11.5,7.38,1.0,91.0,45.0,62.0,0
67,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,69.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.3,2.9,0.22,70.0,11.5,7.38,1.0,99.0,50.0,67.0,0
68,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,11.0,127.0,23.0,30.3,71.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.3,2.9,0.22,35.0,11.5,7.38,1.0,101.0,52.0,69.0,0
69,142219,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,11.0,127.0,23.0,30.3,62.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,35.0,11.5,7.38,1.0,99.0,51.0,67.0,0

In [48]:
# train_df[train_df['pid']==ep]['age'][0]
# train_df[train_df['pid']==ep]['age'].values[0]

52.0

In [47]:
train_df

,pid,age,Gender,ICUType,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,Creatinine,FiO2,GCS,Glucose,HCO3,HCT,HR,K,Lactate,Mg,Na,PaCO2,PaO2,Platelets,RR,SPO2,BT,TroponinI,TroponinT,Urine,WBC,pH,MechVent,SBP,DBP,MBP,label
0,142219.0,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,86.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,70.0,11.5,7.38,1.0,116.0,58.0,77.0,0.0
1,142219.0,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.8,13.0,127.0,23.0,30.3,103.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,500.0,11.5,7.38,1.0,116.0,58.0,77.0,0.0
2,142219.0,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,100.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,70.0,11.5,7.38,1.0,0.0,0.0,224.0,0.0
3,142219.0,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,106.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,70.0,11.5,7.38,1.0,0.0,0.0,135.0,0.0
4,142219.0,52.0,0.0,3.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,105.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,450.0,11.5,7.38,1.0,217.0,108.0,133.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242608,138581.0,53.0,1.0,4.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.4,8.0,127.0,23.0,30.3,85.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,2.9,0.22,80.0,11.5,7.38,1.0,114.0,65.0,84.0,1.0
242609,138581.0,53.0,1.0,4.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,83.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,2.9,0.22,40.0,11.5,7.38,1.0,111.0,61.0,80.0,1.0
242610,138581.0,53.0,1.0,4.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,83.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,2.9,0.22,45.0,11.5,7.38,1.0,109.0,62.0,80.0,1.0
242611,138581.0,53.0,1.0,4.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,85.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,2.9,0.22,50.0,11.5,7.38,1.0,111.0,63.0,80.0,1.0
242612,138581.0,53.0,1.0,4.0,82.0,43.0,63.0,2.9,17.0,0.9,154.0,0.8,0.5,13.0,137.0,25.0,22.6,85.0,4.1,2.1,1.7,132.0,39.0,122.0,178.0,19.0,100.0,36.9,2.9,0.22,70.0,12.1,7.38,1.0,111.0,63.0,80.0,1.0

In [50]:
p = train_df['pid'].unique()
max_len = 70
for ep in p:
    if len(train_df[train_df['pid']==ep]) >= max_len:
        train_df[train_df['pid']==ep] = train_df[train_df['pid']==ep][:max_len]
    else:
        empty_df = pd.DataFrame(index=range(0,70), columns = train_df.columns) 
        empty_df['pid'] = ep
        empty_df['age'] = train_df[train_df['pid']==ep]['age'][0]
        empty_df['Gender'] = train_df[train_df['pid']==ep]['Gender'][0]
        empty_df['ICUType'] = train_df[train_df['pid']==ep]['ICUType'][0]
        empty_df['label'] = train_df[train_df['pid']==ep]['label'][0]
        empty_df[-len(train_df[train_df['pid']==ep]):] = train_df[train_df['pid']==ep]
        empty_df.fillna(0)
        train_df[train_df['pid']==ep] = empty_df

KeyError: ignored

# 6. 범주형 데이터 원핫인코딩

In [109]:
train_df = pd.get_dummies(train_df, columns=['Gender', 'ICUType'])
valid_df = pd.get_dummies(valid_df, columns=['Gender', 'ICUType'])
test_df = pd.get_dummies(test_df, columns=['Gender', 'ICUType'])

In [110]:
train_df
# pid, Gender_0.0, Gender_1.0, label

,pid,age,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,Creatinine,FiO2,GCS,Glucose,HCO3,HCT,HR,K,Lactate,Mg,Na,PaCO2,PaO2,Platelets,RR,SPO2,BT,TroponinI,TroponinT,Urine,WBC,pH,MechVent,SBP,DBP,MBP,label,Gender_0.0,Gender_1.0,ICUType_1.0,ICUType_2.0,ICUType_3.0,ICUType_4.0
0,142219,52.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,86.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,70.0,11.5,7.38,1.0,116.0,58.0,77.0,0,1,0,0,0,1,0
1,142219,52.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.8,13.0,127.0,23.0,30.3,103.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,500.0,11.5,7.38,1.0,116.0,58.0,77.0,0,1,0,0,0,1,0
2,142219,52.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,100.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,70.0,11.5,7.38,1.0,0.0,0.0,224.0,0,1,0,0,0,1,0
3,142219,52.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,106.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,70.0,11.5,7.38,1.0,0.0,0.0,135.0,0,1,0,0,0,1,0
4,142219,52.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,105.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,97.0,37.1,2.9,0.22,450.0,11.5,7.38,1.0,217.0,108.0,133.0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242608,138581,53.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.4,8.0,127.0,23.0,30.3,85.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,2.9,0.22,80.0,11.5,7.38,1.0,114.0,65.0,84.0,1,0,1,0,0,0,1
242609,138581,53.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,83.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,2.9,0.22,40.0,11.5,7.38,1.0,111.0,61.0,80.0,1,0,1,0,0,0,1
242610,138581,53.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,83.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,2.9,0.22,45.0,11.5,7.38,1.0,109.0,62.0,80.0,1,0,1,0,0,0,1
242611,138581,53.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,1.0,0.5,13.0,127.0,23.0,30.3,85.0,4.1,2.1,2.0,139.0,39.0,122.0,173.0,19.0,100.0,36.9,2.9,0.22,50.0,11.5,7.38,1.0,111.0,63.0,80.0,1,0,1,0,0,0,1
242612,138581,53.0,82.0,43.0,63.0,2.9,17.0,0.9,154.0,0.8,0.5,13.0,137.0,25.0,22.6,85.0,4.1,2.1,1.7,132.0,39.0,122.0,178.0,19.0,100.0,36.9,2.9,0.22,70.0,12.1,7.38,1.0,111.0,63.0,80.0,1,0,1,0,0,0,1

In [111]:
ordinary_train = train_df.copy()
ordinary_valid = valid_df.copy()
ordinary_test = test_df.copy()

# 7. 데이터 정규화

In [112]:
ordinary_train.drop(columns=['pid', 'label'], inplace=True)
ordinary_valid.drop(columns=['pid', 'label'], inplace=True)
ordinary_test.drop(columns=['pid', 'label'], inplace=True)

In [113]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(ordinary_train)
scaled_train = scaler.transform(ordinary_train)
scaled_valid = scaler.transform(ordinary_valid)
scaled_test = scaler.transform(ordinary_test)
# scaled_train_df = pd.DataFrame(data=scaled_train, columns=ordinary_train.feature_names)